span{
	font-family: Arial;
}
.axis path,  
.axis line{  
    fill: none;  
    stroke: black;  
    shape-rendering: crispEdges;  
}  
  
.axis text {  
    font-family: Arial;  
    font-size: 11px;  
}  